// Config file

singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions = ' --bind /hpcnfs/ --bind /hpcscratch/ --bind /beegfs/'

workDir = '/hpcscratch/ieo/ieo5898/work'

params {
    my_key = '/hpcscratch/ieo/ieo5898/dbgap_key/prj_32315.ngc'
}

executor {
  exitReadTimeout = '20000 sec'
  queueStatInterval = '120 sec'
  pollInterval = '60 sec'
}

process {
    executor = 'slurm'
    queue = 'seqera'
    scratch = '/hpcscratch/ieo/seqera-ederenzini/'

    errorStrategy = 'retry'
    maxRetries = 3

    withLabel: download {
        container = 'docker://quay.io/biocontainers/sra-tools:3.2.1--h4304569_1'
        cpus = 1
        memory = 8.GB
        time = 24.h
        scratch = false
    }

    withLabel: convert {
        container = 'docker://ghcr.io/aledavini7/sra-samtools:3.2.1-1.20'
        cpus = 2
        memory = 8.GB
        time = 24.h
        scratch = false
        maxRetries = 0
    }

}

