// Config file

// Config file

conda.enabled = true

workDir = "/hpcscratch/ieo/ieo5898/dlbcl/work"

process {
    executor = 'pbspro'
    queue = 'nocg_workq'
    cpus = 1
    memory = 8.GB
    errorStrategy = 'retry'
    maxRetries = 3

   withName: 'convert' {
        queue = 'workq'
        cpus = 2
        memory = 8.GB
    }

    withName: 'download' {
        queue = 'workq'
        cpus = 1
        memory = 8.GB
    }

}

tower {
  workspaceId = '52536440408009'
  accessToken = 'eyJ0aWQiOiA1fS5mMTM4ZmI0MmY3ZWM2M2Q0NTUzZmIyZjIxYzFmYWVlMWFiM2Q0Zjk5'
  endpoint = 'https://seqera.ieo.it/api'
  //workspaceId = '199148969037822'
  //accessToken = 'eyJ0aWQiOiA2NTAxfS44MDBhMWJlYTQ3N2UwZmVlYzM2ODlhNWZiYjg5YWRhMWI5NGYzYTQ0'
  enabled = true
}

